DATABASE_NAME=acadify_database
DATABASE_USER=root
DATABASE_PASSWORD=admin
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

PORT=5000
JWT_SECRET=your-jwt-secret

LIVEKIT_URL=wss://your-project.livekit.cloud
LIVEKIT_API_KEY=your-livekit-api-key
LIVEKIT_API_SECRET=your-livekit-api-secret
LIVEKIT_WEBHOOK_URL=https://your-api-domain.com/api/livekit/webhook
